@import "./variables/animations";
@import "./variables/colors";
@import "./variables/elevation";
@import "./variables/radius";
@import "./variables/size";
@import "./variables/typography";

@import "./utility/position";
@import "./utility/spacing";

@import "./components/article";
@import "./components/cards";
@import "./components/banners";
@import "./components/buttons";
@import "./components/chips";
@import "./components/dialogs";
@import "./components/forms";
@import "./components/shapes";
@import "./components/lists";
@import "./components/pagination";
@import "./components/popover";
@import "./components/switchers";
@import "./components/tables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-1);
  color: var(--text-1);
}
