:root {
  --button-size-default: 2.4rem;
  --circle-size-default: 2.7rem;
  --circle-size-md: 2.35rem;
  --circle-size-sm: 2rem;
}

@mixin full-width {
  width: 100%;
}

.wide {
  @include full-width;
}
