.popover {
  width: max-content;
  position: relative;

  .popover-content {
    @include transitionAll(150ms);
    position: absolute;
    right: 0;
    width: max-content;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;

    &.opened {
      transform: translateY(0);
      pointer-events: initial;
      opacity: 1;
    }
  }
}
