@use "sass:math";
@use "sass:string";

$max: 10;

$sides: "top", "bottom", "left", "right";

@mixin spacing($classSuffix, $amount, $unit: "em") {
  $value: #{$amount + $unit};

  @each $side in $sides {
    $suffix: string.slice($side, 1, 1);
    #{".p" + $suffix + "-" + $classSuffix} {
      #{"padding-" + $side}: $value !important;
    }
    #{".m" + $suffix + "-" + $classSuffix} {
      #{"margin-" + $side}: $value !important;
    }
  }

  #{".px-" + $classSuffix} {
    padding-left: $value !important;
    padding-right: $value !important;
  }

  #{".py-" + $classSuffix} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }

  #{".mx-" + $classSuffix} {
    margin-left: $value !important;
    margin-right: $value !important;
  }

  #{".my-" + $classSuffix} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }

  #{".gap-" + $classSuffix} {
    @include gap($value);
  }
}

@for $n from 0 to $max {
  @include spacing($n, math.div($n, 2), "rem");
}

@include spacing("xs", 0.25, "rem");
@include spacing("auto", auto, "");
