#Home {
  section {
    margin: 3rem 0;
  }

  .color-groups {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    margin-top: 2rem;

    .color-group {
      h4 {
        text-transform: uppercase;
        margin-bottom: 0.3rem;
      }

      .color-dots {
        display: flex;
        .color-dot {
          &:not(:first-child) {
            margin-left: -1.1rem;
          }
        }
      }
    }
  }

  .buttons,
  .chips,
  .cards,
  .form-elements,
  .lists {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .fontface {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

header#Header {
  inset: 0;
  z-index: 2;
  bottom: unset;
}
